<div class="scrollbar-inner">
  <!-- Brand -->
  <div class="sidenav-header  align-items-center">
    <a class="navbar-brand" href="javascript:void(0)">
      <img src="" class="navbar-brand-img" alt="NIKUNJ TEST">
    </a>
  </div>
  <div class="navbar-inner">
    <!-- Collapse -->
    <div class="collapse navbar-collapse" id="sidenav-collapse-main">
      <!-- Nav items -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" routerLink="/admin/users">
            <i class='bx bx-user text-primary'></i>
            <span class="nav-link-text">Users</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
