<nav class="sidenav navbar navbar-vertical  fixed-left  navbar-expand-xs navbar-light bg-white" id="sidenav-main">
  <app-admin-sidebar></app-admin-sidebar>
</nav>
<div class="main-content" id="panel">
  <app-admin-header></app-admin-header>
  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Users</h6>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a (click)="open_model()" class="btn btn-sm btn-neutral"><i class='bx bx-plus'></i> Add User</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header border-0">
          </div>
          <div class="col-12">
            <div class="table-responsive">
              <table class="display" datatable [dtOptions]="dtOptions" cellspacing="0" width="100%">
                <thead>
                <tr>
                  <th>Full Name</th>
                  <th>Email ID</th>
                  <th>Mobile No</th>
                  <th>Audio File</th>
                  <th>Date</th>
                  <th class="no-search-filter">Action</th>
                </tr>
                </thead>
                <tbody *ngIf="getlist.length>0">
                <tr *ngFor="let item of getlist">
                  <td>{{item.fullname}}</td>
                  <td>{{item.email}}</td>
                  <td>{{item.mobile}}</td>
                  <td>
                    <audio controls>
                      <source [src]="backend_url +''+ item.audiofile" type="audio/mpeg">
                    </audio>
                  </td>
                  <td>{{item.created_at | date:'medium'}}</td>
                  <td>
                    <a (click)="edit_model(item.user_id)">
                      <i class='bx bxs-edit bx-md'></i>
                    </a>
                    <a (click)="view_model(item.user_id)">
                      <i class='bx bxs-user-detail bx-md'></i>
                    </a>
                  </td>
                </tr>
                </tbody>
                <tbody *ngIf="getlist?.length == 0">
                <tr>
                  <td colspan="6" class="no-data-available">No data available!</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true" [ngStyle]="{'display': show_model ? 'block' : 'none','opacity': 1,'background':'#0000004f'}">
  <div class="modal-dialog   modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="card bg-secondary border-0">
          <div class="card-header">
            <h3>{{title}} User</h3>
          </div>
          <div class="card-body">
            <form role="form" [formGroup]="userForm" (ngSubmit)="onSubmit()" class="row">
              <div class="form-group">
                  <label>Full name : </label>
                  <input formControlName="fullname" [ngClass]="{ 'is-invalid': submitted && f['fullname'].errors }" class="form-control" placeholder="Full name" type="text">
                  <div *ngIf="submitted && f['fullname'].errors" class="invalid-feedback">
                    <div *ngIf="f['fullname'].errors['required']">Full name is required</div>
                  </div>
              </div>
              <div class="form-group">
                  <label>Email : </label>
                  <input formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" class="form-control" placeholder="Email" type="email">
                  <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
                    <div *ngIf="f['email'].errors['required']">Email is required</div>
                    <div *ngIf="f['email'].errors['email']">Please valid email</div>
                  </div>
              </div>
              <div class="form-group">
                  <label>Mobile No : </label>
                  <input class="form-control" formControlName="mobile" [ngClass]="{ 'is-invalid': submitted && f['mobile'].errors }" placeholder="Mobile" type="tel">
                  <div *ngIf="submitted && f['mobile'].errors" class="invalid-feedback">
                    <div *ngIf="f['mobile'].errors['required']">Mobile is required</div>
                    <div *ngIf="f['mobile'].errors['pattern']">Please enter 10 digit mobile number</div>
                  </div>
              </div>
              <div class="form-group">
                  <label>Audio File : </label>
                  <input formControlName="audiofile" [ngClass]="{ 'is-invalid': submitted && f['audiofile'].errors }" class="form-control" type="file" accept="audio/*" (change)="upload_audio($event)">
                  <div *ngIf="submitted && f['audiofile'].errors" class="invalid-feedback">
                    <div *ngIf="f['audiofile'].errors['required']">Audio file is required</div>
                  </div>
              </div>
              <div class="form-group" *ngIf="previewaudiofile != ''">
                <audio controls>
                  <source [src]="previewaudiofile">
                </audio>
              </div>
              <div class="text-center mx-auto">
                <button type="submit" class="btn btn-primary my-4">Save</button>
                <button type="button" class="btn btn-danger" (click)="close_model()">Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal-form-1" tabindex="-1" role="dialog" aria-labelledby="modal-form" aria-hidden="true" [ngStyle]="{'display': show_model1 ? 'block' : 'none','opacity': 1,'background':'#0000004f'}">
  <div class="modal-dialog   modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-body p-0">
        <div class="card bg-secondary border-0">
          <div class="card-header">
            <h3>{{title}} User</h3>
          </div>
          <div class="card-body">
              <div class="form-group">
                  <label>Full name : {{fullname}} </label>
              </div>
              <div class="form-group">
                  <label>Email : {{email}}</label>
              </div>
              <div class="form-group">
                  <label>Mobile No : {{mobile}} </label>
              </div>
              <div class="form-group" *ngIf="previewaudiofile != ''">
                <div>
                  <audio controls>
                    <source [src]="previewaudiofile" type="audio/mpeg">
                  </audio>
                </div>
              </div>
              <div class="text-center mx-auto">
                <button type="button" class="btn btn-danger" (click)="close_model1()">Close</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
