<nav class="navbar navbar-top navbar-expand navbar-dark bg-primary border-bottom">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar links -->
      <ul class="navbar-nav align-items-center ml-md-auto">
      </ul>
      <ul class="navbar-nav align-items-center ml-auto ml-md-0 ">
        <li class="nav-link nav-item dropdown">
          <div class="media align-items-center">
            <div class="media-body ml-2 d-none d-lg-block">
              <span class="mb-0 text-sm font-weight-bold">{{firstname}} {{lastname}}</span>
            </div>
            <div class="ml-4">
              <a class="javascript:void(0)" (click)="logout()" style="cursor: pointer"> Logout <i class='bx bx-log-out'></i></a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
